@media only screen and (min-width: 1441px)
    #map
        position: absolute
        top: 50px
        right: 0
        bottom: 0
        left: 500px

    sidebar
        top: 50px
        bottom: 0
        left: 0
        height: 100%
        width: 500px
        flex-wrap: nowrap

        #sidebar-edge
            order: 2
            width: 1px
            height: 100%

        #sidebar-body
            order: 1
            flex-grow: 1