<!doctype html>
<html>
    <head>
        <title>Berlin Techno Clubs</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <div id="map"></div>
        <sidebar>
            <div id="sidebar-edge"></div>
            <div id="sidebar-body">
                <div id="maps-error"></div>
                <div>
                    <p>Click map markers for MixCloud recordings.</p>
                    <p data-bind="text: asyncErrorMsg"></p>
                    <br><br>
                    <ul data-bind="foreach: filteredLocations()">
                        <li style="cursor: pointer;" data-bind="click: $parent.focusOnLocation">
                            <div class="result-number">
                                <p data-bind="text: ($index() + 1)"></p>
                            </div>
                            <div>
                                <a data-bind="text: title"></a>
                                <p data-bind="text: address"></p>
                            </div>
                        </li>
                    </ul>
                    <div data-bind="if: filteredLocations().length === 0">
                        <h2 style="color: #ff1744;">No Results</h2>
                    </div>
                </div>
                <section id="show-all" data-bind="if: focusedOnLocation">
                    <a data-bind="click: showAllLocations" style="padding: 8px 12px; border: 1px solid #707070; border-radius: 4px; margin: 35px 0 0 0; cursor: pointer;">Show All Locations</a>
                </section>
                <section id="filters" data-bind="ifnot: focusedOnLocation">
                    <div>
                        <label for="size">
                            <div>
                                <p class="filter-type"><strong>Size:</strong></p>
                                <div>
                                    <input type="radio" name="size" id="size-any" value="" data-bind="click: setFilter" checked="checked">
                                    <span>Any</span>
                                    </div>
                                <div>
                                    <input type="radio" name="size" id="size-large" value="large" data-bind="click: setFilter">
                                    <span>Large</span>
                                </div>
                                <div>
                                    <input type="radio" name="size" id="size-medium" value="medium" data-bind="click: setFilter">
                                    <span>Medium</span>
                                </div>
                                <div>
                                    <input type="radio" name="size" id="size-small" value="small" data-bind="click: setFilter">
                                    <span>Small</span>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div>
                        <label for="price">
                            <div>
                                <p class="filter-type"><strong>Price:</strong></p>
                                <div>
                                    <input type="radio" name="price" id="price-any" value="" data-bind="click: setFilter" checked="checked">
                                    <span>Any</span>
                                    </div>
                                <div>
                                    <input type="radio" name="price" id="price-expensive" value="expensive" data-bind="click: setFilter">
                                    <span>Expensive</span>
                                </div>
                                <div>
                                    <input type="radio" name="price" id="price-average" value="average" data-bind="click: setFilter">
                                    <span>Average</span>
                                </div>
                                <div>
                                    <input type="radio" name="price" id="price-free" value="free" data-bind="click: setFilter">
                                    <span>Free</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </section>
            </div>
        </sidebar>
        <header>
            <p style="height: 15px; width: 15px; border-radius: 100%; background: #ff1744; margin: 0 15px 0 0;"></p><p><strong>Berlin Techno Clubs</strong></p>
        </header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script src="static/js/app.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArr-7_ASvZE--MmpZ8T_F7CmzjyWOE270&v=3&callback=startApp" onerror="googleMapsError()"></script>
    </body>
</html>