<!doctype html>
<html>
    <head>
        <title>BerlinTechno</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <div id="map"></div>
        <sidebar>
            <div id="hide-button-container">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div>
            <div id="sidebar-body">
                <form>
                    <div class="form-group">
                        <label for="filter">Filter Locations:</label>
                        <select id="filter">
                            <option value="biggest">Large</option>
                            <option value="cheapest">Cheapest</option>
                            <option value="best-rated">Best Rated</option>
                            <option value="hours">Hours</option>
                        </select>
                    </div>
                </form>
            </div>
        </sidebar>
        <header>
            <i class="fa fa-map-marker" aria-hidden="true" style="color: #ff1744; font-size: 18px; margin: 0 5px 0 0;"></i><p><strong>BerlinTechno</strong>&nbsp;&nbsp;<span style="color: #a3a3a3;">|&nbsp;&nbsp;The Best Techno Clubs in Berlin.</span></p>
        </header>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArr-7_ASvZE--MmpZ8T_F7CmzjyWOE270&v=3&callback=initMap"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script src="static/js/bundle.js"></script>
    </body>
</html>